export SGE_ROOT={{ SGE_ROOT }}
export SGE_CELL={{ SGE_CELL }}
export JAVA_HOME={{ JAVA_ROOT }}
export DRMAA_LIBRARY_PATH={{ SGE_ROOT }}/lib/linux-x64/libdrmaa.so
export PATH={{ SGE_ROOT }}/bin/linux-x64:$PATH
export MANPATH=$MANPATH:{{ SGE_ROOT }}/man:
