SGE_ROOT="{{ SGE_ROOT }}"
SGE_QMASTER_PORT="6444"
SGE_EXECD_PORT="6445"
SGE_ENABLE_SMF="true"
SGE_ENABLE_ST="true"
SGE_CLUSTER_NAME="{{ CLUSTER_NAME }}"
SGE_JMX_PORT="1026"
SGE_JMX_SSL="false"
SGE_JMX_SSL_CLIENT="false"
SGE_JMX_SSL_KEYSTORE=""
SGE_JMX_SSL_KEYSTORE_PW=""
SGE_JVM_LIB_PATH="{{ JVM_LIB_PATH }}"
SGE_ADDITIONAL_JVM_ARGS="-Xmx256m"
CELL_NAME="{{ SGE_CELL}}"
ADMIN_USER="{{ ADMIN_USER }}"
QMASTER_SPOOL_DIR="{{ QMASTER_SPOOL_DIR }}"
EXECD_SPOOL_DIR="{{ EXECD_SPOOL_DIR  }}"
GID_RANGE="10000-10100"
SPOOLING_METHOD="classic"
DB_SPOOLING_SERVER="none"
DB_SPOOLING_DIR="/var/spool/sge/spooldb"
PAR_EXECD_INST_COUNT="{{ groups['all'] | count }}"
ADMIN_HOST_LIST="{% for host in groups['all'] %}{{ host }}{% if not loop.last %} {% endif %}{% endfor %}"

SUBMIT_HOST_LIST="{% for host in groups['all'] %}{{ host }}{% if not loop.last %} {% endif %}{% endfor %}"

EXEC_HOST_LIST="{% for host in groups['all'] %}{{ host }}{% if not loop.last %} {% endif %}{% endfor %}"

EXECD_SPOOL_DIR_LOCAL=""
HOSTNAME_RESOLVING="true"
SHELL_NAME="rsh"
COPY_COMMAND="scp"
DEFAULT_DOMAIN="none"
ADMIN_MAIL="{{ ADMIN_MAIL }}"
ADD_TO_RC="false"
SET_FILE_PERMS="true"
RESCHEDULE_JOBS="wait"
SCHEDD_CONF="1"
SHADOW_HOST=""
REMOVE_RC="false"
WINDOWS_SUPPORT="false"
WIN_ADMIN_NAME="Administrator"
WIN_DOMAIN_ACCESS="false"
CSP_RECREATE="true"
CSP_COPY_CERTS="false"
CSP_COUNTRY_CODE="DE"
CSP_STATE="Germany"
CSP_LOCATION="Building"
CSP_ORGA="Organisation"
CSP_ORGA_UNIT="Organisation_unit"
CSP_MAIL_ADDRESS="name@yourdomain.com"
